.catalog-main__wrapper {
  width: 320px;
  margin: auto;
}

.catalog-main__heading {
  color: #111111;
  line-height: 60px;
  font-size: 36px;
  font-weight: 400;
}

.catalog-main__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
