.example {
  background-color: #f2f2f2;
}

.example__wrapper {
  max-width: 280px;
  margin: auto;
}

.example-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.example__txt {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
