.page-main {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: none;
  margin: 0 auto;
  background-color: #ffffff;
}
